#header-busca {
    background: #fff159;
    padding: 10px 0;

    .logo {
        background: url(./../../assets/Logo_ML.png);
        text-indent: -9999px;
        width: 53px;
        height: 36px;
        display: inline-block;
    }

    #form-busca {
        .input-group-text {
            width: 38px;
            height: 38px;
            padding: 8px;
            cursor: pointer;
        }
    }
}